.form-group input, .form-group input:focus, .form-group input:hover, .form-group input:active, .form-group select, .form-group select:focus, .form-group select:hover, .form-group select:active {
    width: 100%;
    padding: 10px;
    color: #333;
    border: none;
    border-color: transparent;
    border-bottom: 1px solid #333;
    background: transparent;
    position: relative;
}

.form-group input:not(:placeholder-shown), .form-group select {
    color: #333 !important;
}

main{
    justify-items: center;
    align-items: center;
    align-content: center;
    display: flex;
    height: 100vh;
}

.login{
    background-color: #fffffff2;
    border-radius: 15px;
    color: #333;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: bold;
    padding: 35px;
    width: 50%;
    z-index:999;
}

.login header img{
    height: 50px;
}

.login h3{
    padding: 30px 0;
}

.content{
    min-height: 100vh;
    width: 100%;
    padding: 57px 0;
    background: #6a6aadcc;
    background-image: url(../../img/banners/banner-pesca-2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#b3bfb8",endColorstr="#7e8d85",GradientType=1);
    margin-bottom: -250px;
}

section form p a {
    font-size: 0.7em;
    text-decoration: none;
}
section form h4 span, section form a {
    color: #fff;
}
section form a:hover {
    text-decoration: underline;
}

.btn-outline-dark:hover {
    color: #fff;
    background-color: #ffd000;  
    border-color: #f8f9fa;
}

#recover-email{
    cursor: pointer;
}

input::-internal-autofill-selected {
    appearance: menulist-button;
    background-image: none !important;
    background-color: -internal-light-dark(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)) !important;
    color: -internal-light-dark(black, white) !important;
}

@media(max-width: 767px){

    .login{
        width: 100%;
    }

}