{% extends "layout.html" %}

{% block title %}Cliente{% endblock %}

{% block content %}

    <section class="approve dashboard-page" id="approve-content">

        <div class="p-3">

            <div class="dashboard-title">
                <div class="row">
                    <div class="col-md-6">
                        <h1 class="title">Clientes</h1>
                    </div>
                    <div class="col-md-6 text-end">
                        <a href="{{ url_for('cliente.formListaCliente') }}" class="btn btn-secondary">
                            Cadastrar Cliente
                        </a>
                    </div>
                </div>

            </div>

            <div class="row pt-5 dashboard-content">

                <div class="col-12">
                    <label for="name">Pesquisar</label>
                    <input maxlength="100" type="text" name="search" id="name" class="form-control">
                </div>

                <div class="card text-center w-100 mt-3">
                    <div class="overflow-auto">
                        <table class="table table-striped">
                            <thead>
                                <tr class="text-center">
                                    <th>#</th>
                                    <th>Nome</th>
                                    <th>Telefone</th>
                                    <th>Documento</th>
                                    <th>Pega fiado</th>
                                    <th></th>
                                    <th style="min-width: 165px;"></th>
                                    <td></td>
                                </tr>
                            </thead>
                            <tbody class="appendhere">
                                {% if result %}
                                    {% for row in result[0] %}
                                        <tr class="text-center">
                                            <td>{{ row['id'] }}</td>
                                            <td>{{ row['nome'] }}</td>
                                            <td>{{ row['telefone'] }}</td>
                                            <td>{{ row['cpf'] }}</td>
                                            <td>{{ row['pega_fiado'] }}</td>
                                            <td>
                                                
                                                <div class="dropdown">
                                                    {% if row['status'] == '1' %}
                                                        <button class="btn btn-success dropdown-toggle" type="button"
                                                            id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                                            Ativo
                                                        </button>
                                                    {% else %}
                                                        <button class="btn btn-danger dropdown-toggle" type="button"
                                                            id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                                            Inativo
                                                        </button>
                                                    {% endif %}
                                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                                        <li><a class="dropdown-item" href="#">Ativar</a></li>
                                                        <li><a class="dropdown-item" href="#">Desativar</a></li>
                                                    </ul>
                                                </div>
                                            </td>
                                            <td>
                                                <form action="{{ url_for('cliente.formEditCliente') }}" method="POST" name="formEdit{{ row['id'] }}">
        
                                                    <input type="hidden" name="id" value="{{ row['id'] }}">
                                                    <button type="submit" class="btn btn-outline-light"  name="formEditCliente"> <i class="fas fa-edit"></i></button>
                                                    
                                                </form>
                                            </td>
                                            <td>
                                                <form method='POST' name='jsDelete' id='jsDelete'>
                                                    <input type='hidden' name='id' value="{{ row['id'] }}">
                                                    <button type='submit' name='formDeleteProduto' class='btn'><i
                                                            class='fas fa-trash'></i></button>
                                                </form>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                {% endif %}
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>

        </div>
    </section>
{% endblock %}
{% block js %}
<script>
    $("form[name='jsDelete']").submit(function (e) {
        // parar o envio para poder fazer manualmente
        e.preventDefault();
        Swal.fire({
            title: '',
            text: "Deseja realmente excluir: " + $(e.target)[0][0].value,
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            cancelButtonText: 'Cancelar',
            confirmButtonText: 'Sim'
        }).then((result) => {
            if (result.isConfirmed) {
                deletarFuncionario($(e.target)[0][0].value); // Retorna o valor que está no id
            }
        })
    })
    // sempre pega a url da barra de endereço

    function deletarFuncionario(idFuncionario) {
        $.post(PATH + "{{ url_for('cliente.delete') }}", {
            id: idFuncionario
        }, function (data) {
            if (!data.erro) {
                Swal.fire({
                    title: '',
                    text: 'ID' + data.msg.id + ', ' + data.msg.msg,
                    icon: 'success',
                    showCancelButton: false,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'OK'
                }).then((result) => {
                    if (result.isConfirmed) {
                        window.location.replace($SCRIPT_ROOT +
                            "{{ url_for('cliente.ListaCliente') }}");
                    }
                })
            } else {
                Swal.fire(data.msgErro.msg, data.msgErro.erro, "error");
            }
        })
    }

</script>
{% endblock %}