{% extends "layout.html" %}

{% block title %}Funcionário{% endblock %}

{% block content %}
<section class="approve dashboard-page" id="approve-content">

<section class="employee mt-4" id="employee-content">
    <div class="container">
        <form name="funcionario" id="funcionario">
            <div class="mb-3">
                <label for="name" class="form-label">Nome Completo</label>
                <input maxlength="100" type="text" class="form-control" id="name" name="name" placeholder="João" >
            </div>
            <div class="mb-3">
                <label for="document" class="form-label">CPF</label>
                <input maxlength="100" type="text" class="form-control" id="document" name="document" placeholder="012.949.879-36" >
            </div>
            <div class="mb-3">
                <label for="phone" class="form-label">Telefone</label>
                <input maxlength="100" type="text" class="form-control" id="phone" name="phone" placeholder="(49) 984321-8923" >
            </div>
            <div class="mb-3">
                <label for="group" class="form-label">Grupo</label>
                <select class="form-control" id="group" name="group" >
                    <option value="" selected hidden>Selecione o grupo</option>
                    <option value="1">Administrador</option>
                    <option value="2">Funcionário</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="login" class="form-label">Login</label>
                <input maxlength="100" type="text" class="form-control" id="login" name="login" placeholder="JaoCleber123" >
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Senha</label>
                <input maxlength="100" type="password" class="form-control" id="password" name="password" placeholder="******" >
            </div>
            <div class="mb-3">
                <label for="repass" class="form-label">Confirmar Senha</label>
                <input maxlength="100" type="password" class="form-control" id="repass" name="repassword" placeholder="******" >
            </div>

            <div class="text-end">
                <button type="button" class="btn btn-outline-success" id="save">
                    SALVAR
                </button>
            </div>
        </form>
    </div>
</section>

</section>

{% endblock %}

{% block js %}
    <script src="{{ url_for('static', filename='js/admin/employee/cadastre_employee.js') }}"></script>
{% endblock %}