{% extends "layout.html" %}

{% block title %}Funcionário{% endblock %}

{% block content %}
<section class="approve dashboard-page" id="approve-content">

    <div class="p-3">
        {{result}}
        <div class="dashboard-title">
            <div class="row">
                <div class="col-md-6">
                    <h1 class="title">Funcionário</h1>
                </div>
                <div class="col-md-6 text-end">
                    <a href="{{ url_for('funcionario.formListaFuncionario') }}" class="btn btn-secondary">
                        Cadastrar Funcionário
                    </a>
                </div>
            </div>

        </div>

        <div class="row pt-5 dashboard-content">

            <div class="col-12">
                <label for="name">Pesquisar</label>
                <input maxlength="100" type="text" name="search" id="name" class="form-control">
            </div>

            <div class="card text-center w-100 mt-3">
                <div class="overflow-auto">
                    <table class="table table-striped">
                        <thead>
                            <tr class="text-center">
                                <th>#</th>
                                <th>Nome</th>
                                <th>Telefone</th>
                                <th>Documento</th>
                                <th>Grupo</th>
                                <th></th>
                                <th style="min-width: 165px;"></th>
                            </tr>
                        </thead>
                        <tbody class="appendhere">
                            {% if result %}
                                {% for row in result[0] %}
                                <tr class="text-center">
                                    <td>{{ row['id'] }}</td>
                                    <td>{{ row['nome'] }}</td>
                                    <td>{{ row['telefone'] }}</td>
                                    <td>{{ row['cpf'] }}</td>
                                    <td>{{ row['grupo'] }}</td>
                                    <td>
                                        
                                        <div class="dropdown">
                                            {% if row['status'] == '1' %}
                                                <button class="btn btn-success dropdown-toggle" type="button"
                                                    id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                                    Ativo
                                                </button>
                                            {% else %}
                                                <button class="btn btn-danger dropdown-toggle" type="button"
                                                    id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                                    Inativo
                                                </button>
                                            {% endif %}
                                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                                <li><a class="dropdown-item" href="#">Ativar</a></li>
                                                <li><a class="dropdown-item" href="#">Desativar</a></li>
                                            </ul>
                                        </div>
                                    </td>
                                    <td>
                                        <a type="button" class="btn btn-outline-light" href="{{ url_for('funcionario.formListaFuncionario') }}">Editar</a>
                                    </td>
                                </tr>
                                {% endfor %}
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</section>
{% endblock %}

