{% extends "layout.html" %}

{% block title %}Produtos{% endblock %}

{% block content %}
<section class="approve dashboard-page" id="approve-content">

    <div class="container">
        <form name="product-form" id="product-form">
            <div class="mb-3 row ">
                <div class="img-product col-md-3"></div>
                <div class="mb-sm-3 mb-md-0 col-md-9 d-flex align-items-center">
                    <input maxlength="100" class="form-control" accept="image/*" type="file" id="image_product" name="image_product">
                </div>

            </div>
            <div class="mb-3">
                <label for="name" class="form-label">Nome Produto</label>
                <input maxlength="100" type="text" class="form-control" id="name" name="name" placeholder="João">
            </div>
            <div class="mb-3">
                <label for="price" class="form-label">Preço</label>
                <input maxlength="100" type="text" class="form-control" id="price" name="price" placeholder="R$ 22,50">
            </div>
            <div class="mb-3">
                <label for="qtd" class="form-label">Qtd</label>
                <input maxlength="100" type="number" class="form-control" id="qtd" name="qtd" placeholder="22">
            </div>
            <div class="mb-3">
                <label for="desc" class="form-label">Descrição</label>
                <textarea class="form-control" id="desc" name="desc" cols="30" rows="10"></textarea>
            </div>

            <button type="button" class="btn btn-outline-success" id="save">
                SALVAR
            </button>
        </form>
    </div>
</section>

{% endblock %}

{% block js %}
    <script src="{{ url_for('static', filename='js/admin/product/cadastre.js') }}"></script>
{% endblock %}